


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div id="dashtitle" class="card" role="listbox">
      <div class="card-title">
        <p class="card-text">Registrate y obten envios gratis. Conoce mas. </p>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/images/product/iphone.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/images/product/iwatch.png" alt="Third slide">
      </div>
    </div>
  </div>

<app-carousel-dash></app-carousel-dash>